.gradle
build/
target/
!gradle/wrapper/gradle-wrapper.jar
.idea
*.iws
*.iml
*.ipr
out/
samples/kofu-reactive-minimal/com.sample.applicationkt
samples/jafu-reactive-minimal/com.sample.application
.zip
